<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.system.mapper.AdminNoticeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.system.domain.Notice">
        <id column="id" property="id"/>
        <result column="notice_title" property="noticeTitle"/>
        <result column="notice_content" property="noticeContent"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_user_id" property="createUserId"/>
    </resultMap>

    <delete id="batchDeleteNoticeByUserIds">
        DELETE
        FROM sys_notice
        WHERE create_user_id in
        <foreach collection="list" open="(" separator="," close=")" item="userId">
            #{userId}
        </foreach>
    </delete>
</mapper>
