<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.system.mapper.AdminUserAndRoleMapper">
    <insert id="addUserAndRoleId">
        insert into sys_user_role (user_id, role_id)
        VALUES (#{userId}, #{roleId})
    </insert>

    <delete id="batchDeleteUserAndRoleByUserId">
        delete
        from sys_user_role
        where user_id in
        <foreach collection="list" open="(" separator="," close=")" item="ids">
            #{ids}
        </foreach>
    </delete>

    <delete id="batchDeleteUserAndRoleByRoleId">
        delete
        from sys_user_role
        where role_id in
        <foreach collection="list" open="(" separator="," close=")" item="ids">
            #{ids}
        </foreach>
    </delete>

    <delete id="removeRole">
        delete from sys_user_role
        where user_id in
        <foreach collection="userId" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
        and role_id = #{roleId}
    </delete>

    <insert id="assignRole">
        insert into sys_user_role (user_id, role_id)
        VALUES
        <foreach collection="userId" item="userId" separator=",">
            (#{userId}, #{roleId})
        </foreach>
    </insert>

    <select id="validateIsExistByUserId" resultType="java.lang.Integer">
        select count(*)
        from sys_user_role
        where user_id = #{userId}
          and role_id = #{roleId}
    </select>

    <select id="getUserAndRoleByUserId" resultType="java.util.Map">
        select *
        from sys_user_role
        where user_id = #{userId}
    </select>
</mapper>
