<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.system.mapper.ComQueryMapper">
    <select id="queryComQueryByCustomSql" resultType="com.example.system.domain.vo.DictVo">
        ${customSql}
    </select>
</mapper>
