<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.system.mapper.UserWebMapper">
    <select id="selectByUsername" resultType="com.example.system.domain.User">
        select *
        from front_user
        where username = #{username}
    </select>

    <select id="selectByUserId" resultType="com.example.system.domain.User">
        select *
        from front_user
        where id = #{id}
    </select>

    <insert id="register" useGeneratedKeys="true" keyProperty="id">
        insert into front_user
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="username != null &amp; username != ''">username,</if>
            <if test="password != null &amp; password != ''">password,</if>
            <if test="name != null &amp; name != ''">name,</if>
            <if test="imgUrl != null &amp; imgUrl != ''">img_url,</if>
            <if test="phone != null &amp; phone != ''">phone,</if>
            <if test="email != null &amp; email != ''">email,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffixOverrides="," suffix=")">
            <if test="username != null &amp; username != ''">#{username},</if>
            <if test="password != null &amp; password != ''">#{password},</if>
            <if test="name != null &amp; name != ''">#{name},</if>
            <if test="imgUrl != null &amp; imgUrl != ''">#{imgUrl},</if>
            <if test="phone != null &amp; phone != ''">#{phone},</if>
            <if test="email != null &amp; email != ''">#{email},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updatePerson">
        update front_user
        <set>
            <if test="username != null &amp; username != ''">username=#{username},</if>
            <if test="password != null &amp; password != ''">password=#{password},</if>
            <if test="name != null &amp; name != ''">name=#{name},</if>
            <if test="phone != null &amp; phone != ''">phone=#{phone},</if>
            <if test="email != null &amp; email != ''">email=#{email},</if>
            <if test="imgUrl != null &amp; imgUrl != ''">img_url=#{imgUrl},</if>
            <if test="createTime != null">create_time=#{createTime},</if>
            <if test="updateTime != null">update_time=#{updateTime},</if>
        </set>
        where id=#{id}
    </update>

    <select id="queryCurrentUser" resultType="com.example.system.domain.vo.UserVo">
        select *
        from front_user
        where id = #{id}
    </select>
</mapper>
